/* Resetando estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f2f6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    color: #4e73df;
    margin-bottom: 800px;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#cxinputs {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

#cxinputs:focus {
    border-color: #4e73df;
    outline: none;
}

#cxlogin {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cxlogin:hover {
    background-color: #2e59d9;
}
